<div class="content">
    <h1>Form<br/>Creator</h1>
    <span>A single page application created on <img src="../../assets/images/angular.svg" alt="angular-logo" style="height: 1em;"> Angular Framework 
        with <img src="../../assets/images/Bootstrap_logo.svg" alt="bootstrap logo" style="height: 0.8em;"> Bootstrap to create and share quationaires.</span>
    <!-- <span class="technologies">
        <img src="../../assets/images/angular.svg" alt="angular-logo" style="height: 1em;">
        <img src="../../assets/images/Bootstrap_logo.svg" alt="bootstrap logo" style="height: 0.8em;">
    </span> -->
    <div class="actions">
        <button class="btn btn-lg btn-primary" (click)="openFormBuilder()" id="build">Start Creating Form</button>
        <button class="btn btn-lg btn-outline-primary" id="previous">Previous Responses</button>
    </div>
</div>